spring:
  output:
    ansi:
      enabled: always
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/springBucks?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=UTF-8
    username: root
    password: 123456
  jpa:
    #    hibernate:
    #      ddl-auto: 'create'
    properties:
      hibernate:
        show_sql: true
        format_sql: true

#  h2:
#    console.enabled: true  # ?? h2 ? web ??? /h2-console

java:
  mail:
    host: smtp.exmail.qq.com
    port: 25
    username: xxx@xxx.com
    password: xxxxx

# 开启 actuator 相关页面，正式环境禁止开放
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

test:
  foo-test: 123
  bar: 张三
  staticName: 张三
  array: [ 1,2,3,4,5 ]
  cityMap: "{ 'jack': 'beijing', 'rose': 'shanghai' }"