spring:
  output:
    ansi:
      enabled: always
  datasource:
    h2:
      driverClassName: org.h2.Driver
      url: jdbc:h2:mem:testdb
      username: root
    mysql:
      driverClassName: com.mysql.jdbc.Driver
      url: jdbc:mysql://127.0.0.1:3306/springBucks?useSSL=false
      username: root
      password: 123456
    pg:
      driver-class-name: org.postgresql.Driver #org.postgresql.Driver #com.mysql.jdbc.Driver #org.postgresql.Driver
      url: jdbc:postgresql://192.168.0.15:5432/postgres?currentSchema=eda&characterEncoding=utf8
      username: sys
      password: sysadmin
      hikari:
        maximum-pool-size: 80
        minimum-idle: 30
        max-lifetime: 1800000
        idle-timeout: 180000
        connection-timeout: 30000
        connection-test-query: SELECT 1
  jpa:
    #    hibernate:
    #      ddl-auto: 'create'
    properties:
      hibernate:
        show_sql: true
        format_sql: true

#  h2:
#    console.enabled: true  # ?? h2 ? web ??? /h2-console

java:
  mail:
    host: smtp.exmail.qq.com
    port: 25
    username: xxx@xxx.com
    password: xxxxx

# 开启 actuator 相关页面，正式环境禁止开放
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always